/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');

:root {
  font-family: Montserrat, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  margin: 0 auto;
  max-width: 1160px;
  padding: 32px 16px;
}

.search-form {
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.search-form input {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  display: block;
  line-height: 1.5em;
  letter-spacing: .04em;
  width: 100%;
  font-weight: 400;
  padding: 7px 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  max-width: 272px;
}

.search-form input:hover {
  outline: none;
  border-color: #000;
}

.search-form button {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  display: block;
  padding: 10.5px 16px;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  background-color: #4E75FF;
  color: #fff;
  cursor: pointer;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin: 0 auto;
}

.gallery-item {
  border: 1px solid #2E2F42;
  width: 100%;
  max-width: 360px;
  min-width: 300px;
}

.gallery-item a {
  display: block;
  /*overflow: hidden;*/
}

.gallery-item a img {
  display: flex;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.gallery-item-info {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 4px 16px;
  gap: 20px;
  text-align: center;
  font-size: 12px;
}

.gallery-item-info div {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.gallery-item-info b {
  font-weight: 600;
  line-height: 1.3em;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #2E2F42;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}